[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/nlohmann"]
	path = thirdparty/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
